<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body>
    <!-- uses EJS to point to a partial file -->
    <%- include('includes/header') %> <%- include('includes/mobile_menu.ejs') %>
    <main>
      <h1>Oops, something went wrong</h1>
      <p>
        Something went wrong on the server, we're working quickly to fix it. 
      </p>
  
    </main>
  </body>
</html>
